---
---

@import "reset";
@import "base";
@import "header";
@import "content";
@import "quotation";
@import "publications";
@import "team";
@import "urops";
@import "images";
@import "footer";
@import "post";
@import "news";
@import "home";
@import "highlighter";
@import "research";

.full-width {
    left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;

    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.normal {
    width: 100%;
}