---
layout: page
title: Publications
permalink: /research/publications/
enable_maths: false
subpage_of: Research
---

<h1>Our Publications</h1>

{% assign i = site.data.publications | size %}
{% for pub in site.data.publications %}
    <div class="publication">
        [{{ i }}]
    {% for author in pub.authors %}
        {% if author.highlight %}
        <span class="highlighted-author">{{ author.name }}</span>,
        {% else %}
        {{ author.name }},
        {% endif %}
    {% endfor %}
        <span class="title">
            {% if pub.link %}
            <a href="{{ pub.link }}">"{{ pub.title }}"</a>
            {% else %}
            "{{ pub.title }}"
            {% endif %}
        </span>,
        <span class="journal">{{ pub.journal }}</span>,
        {{ pub.year }}.
    </div>
    {% assign i = i | minus:1 %}
{% endfor %}