
<footer>
    <div class="footer-content">
        <div class="footer-item">
            <h1>CONTACT US</h1>

            <div class="icon-text-pair address">
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <div>
                    {% for line in site.address %}
                    {{ line }}<br>
                    {% endfor %}
                </div>
            </div>

            <div class="icon-text-pair">
                <div>
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div>
                    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </div>
            </div>
        </div>
        <div class="footer-item">
            <a href="https://www.psfc.mit.edu/">
                <img class="footer-logo" src="/assets/logos/psfc.png">
            </a><br>
            Accessibility at MIT - <a href="https://accessibility.mit.edu/">accessibility.mit.edu</a>
        </div>
    </div>
</footer>